<div class="footer-clean  pt-4 pb-4">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Scopri PizzaBool</h3>
                    <ul>
                        <li><a href="#">Chi siamo</a></li>
                        <li><a href="#">Pizzerie</a></li>
                        <li><a href="#">Il nostro blog</a></li>
                        <li><a href="#">Investitori</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Note legali</h3>
                    <ul>
                        <li><a href="#">Informativa sulla privacy</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Lavora con noi</h3>
                    <ul>
                        <li><a href="#">Contattaci</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social mb-0">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    <p class="copyright">PizzaBool by <a href="https://www.flowcode.com/page/ilguarnieri" target="_blank">Angelo Guarnieri</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>