@*<div class="d-flex justify-content-between">
    <p class="d-none d-sm-block m-1">&copy; 2022 - PizzaBool</p>
    <p  class="m-1">by <a href="https://www.flowcode.com/page/ilguarnieri" target="_blank">Angelo Guarnieri</a></p>
</div>

*@

<div class="d-flex justify-content-center Bcolor">
    <div class="container footer-container d-flex align-items-center pt-3">
      <div class="discover-pizz">
      <ul><span>Scopri PizzaBool</span>
        <li><a href="#">Chi siamo</a></li>
        <li><a href="#">Pizzerie</a></li>
        <li><a href="#">Altro</a></li>
        <li><a href="#">Il nostro blog</a></li>
        <li><a href="#">Lavora con noi</a></li>
        <li><a href="#">Diventa nostro partner</a></li>
      </ul>
      </div>
      <div class="legal-notices">
        <ul><span>Note legali</span>
          <li><a href="#">Termini & Condizioni</a></li>
          <li><a href="#">Informativa sulla privacy</a></li>
          <li><a href="#">Cookies</a></li>
        </ul>
      </div>
      <div class="help">
        <ul><span>Aiuto</span>
          <li><a href="#">Contatti</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="take-pizz">
        <ul><span>Porta PizzaBool con te</span>
        <li> 
          <a href="#">
            <img src="/img/android.png" alt="android">
          </a> 
        </li>
        <li> 
          <a href="#">
            <img src="/img/apple.png" alt="apple">
          </a> 
        </li>
        </ul>
      </div>
      <div class="d-flex justify-content-between p-0 m-0">
            <p class="d-none d-sm-block mb-1">&copy; 2022 - PizzaBool</p>
            <p  class="mb-1">by <a href="https://www.flowcode.com/page/ilguarnieri" target="_blank">Angelo Guarnieri</a></p>
      </div>
      </div>
    </div>

</div>