<div class="spinner">
    <img src="/img/loader-pizza.png" class="pizza-part pizza-part-1" />
    <img src="/img/loader-pizza.png" class="pizza-part pizza-part-2" />
    <img src="/img/loader-pizza.png" class="pizza-part pizza-part-3" />
    <img src="/img/loader-pizza.png" class="pizza-part pizza-part-4" />
</div>