<ul class="nav nav-pills flex-column fw-bold">

    <li class="nav-item">
        <a id="menu" class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="" asp-controller="Pizza" asp-action="Create">Crea pizza</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Manage/Email">Impostazioni</a>
    </li>    

    
</ul>