<ul class="nav nav-pills flex-column fw-bold">

    <li class="nav-item">
        <a id="index" class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="create" asp-area="" asp-controller="Pizza" asp-action="Create">Crea pizza</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="setting" asp-area="Identity" asp-page="/Account/Manage/Email">Impostazioni</a>
    </li>    


    <script>
     
        const side = "@ViewData["ActivePage"].ToString().ToLower()";
        const sideItem = document.getElementById(side.replace(/ /g, ""));

        if (sideItem != null) {
            sideItem.classList.add("active");
        }

    </script>
    
</ul>