@{
    ViewData["ActiveNav"] = "contact";
    ViewData["Title"] = "Contattaci - ";
}


<main class="patter-background p-3 pt-5 pb-5 welcome-wrapper d-flex flex-column align-items-center h-100 w-100 justify-content-center">

    <section class="pizza-create bg-white container col-lg-7 col-xl-6 p-4 pb-5 p-md-5 pt-md-4 position-relative">

        <h2 class="text-center text-name">Contattaci</h2>

       

        <div class="required-wrapper m-0 form-text position-absolute">* Campi obbligatori</div>
    </section>

</main>