@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirma email";
}


<main class="patter-background p-3 pt-5 pb-5 welcome-wrapper d-flex flex-column align-items-center h-100 w-100 justify-content-center">

    <section class="pizza-create container col-md-8 col-lg-6 col-xl-5 p-2 pt-5 pb-5 position-relative">

        <h2 class="fw-bold text-center text-success"><i class="d-none d-sm-inline fa-solid fa-circle-check me-3"></i> Account confermato</h2>        
       
    </section>

</main>
