@page
@model RegisterConfirmationModel

@{
    ViewData["ActiveNav"] = "register";
    ViewData["Title"] = "Registrati - ";
}


<main class="patter-background p-3 pt-5 pb-5 welcome-wrapper d-flex flex-column align-items-center h-100 w-100 justify-content-center">

    <section class="pizza-create bg-white container col-md-8 col-lg-6 col-xl-5 p-4 pb-5 p-md-5 pt-md-4 position-relative">

        <h2 class="text-center text-name">Conferma account</h2>
        <hr />

        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <h5 class="text-animation text-center mt-5">
                    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clicca qui per confermare il tuo account</a>
                </h5>
            }
            else
            {
                <h5>
                    Controlla la tua email per confermare il tuo account.
                </h5>
            }
        }
       
    </section>

</main>








