@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<main class="patter-background p-3 pt-5 pb-5 welcome-wrapper d-flex flex-column align-items-center h-100 w-100 justify-content-center">

    <section class="pizza-create container col-md-8 col-lg-6 col-xl-5 p-4 pb-5 p-md-5 pt-md-4 position-relative">

        <h2 class="text-center text-name">Crea un nuovo account</h2>

        <section>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input asp-for="Input.Email" type="email" placeholder="marco@rossi.it" class="form-control" id="email" required>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input asp-for="Input.Password" type="text" placeholder="*****" class="form-control" id="password" required>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="mb-2 w-100 btn btn-lg pizz_button button_save text-white">Registrati</button>
                </div>
            </form>
        </section>
       
    </section>

</main>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
