
@{
    ViewData["ActiveNav"] = "menu";
    ViewData["Title"] = "Menu - ";

    IEnumerable<Category> categories = ViewData["Categories"] as IEnumerable<Category>;
}

<main class=" overflow-hidden patter-background p-3 welcome-wrapper d-flex flex-column align-items-center h-100 w-100 justify-content-center">
    

    <div class="container-fluid container-lg d-flex justify-content-center gap-4 mb-4 mt-4 flex-wrap">

         <button class="pizz_button active btn_category col-12 col-sm-5 col-md-3">
               Tutte
           </button>

        @foreach(Category category in categories)
        {
           <button id="@category.Id" class="pizz_button btn_category col-12 col-sm-5 col-md-3">
               @category.Name
           </button>
        }
    </div>


    <div class="container-fluid container-lg d-flex justify-content-center align-content-center flex-wrap gap-4 p-3 flex-grow-1">

        <div class="text-load">
            @Html.Partial("_Loader")
        </div>

        <ul class="pizzas_ul d-none">
            
        </ul> 
        
        <div class="pizza-empty p-3 text-center d-none">
            <h1>Attualmente non è presente nessuna pizza!</h1>
        </div>

        <div class="db-error d-none p-3 text-center flex-column align-items-center">
            <figure class="w-50">
                <img src="~/img/sad_pizza.png"/>
            </figure>
            <h1>PAGINA NON TROVATA</h1>
        </div>
    </div>
</main>


@section Scripts{
<script>

let pizzas = [];
let t = 0;
const pizzas_ul = document.querySelector('.pizzas_ul');
const btn_categories = document.querySelectorAll('.pizz_button');
const pizza_empty = document.querySelector('.pizza-empty');
const text_load = document.querySelector('.text-load');
const db_error = document.querySelector('.db-error');
addListenerBtn();

start();

function start(id) {

    pizza_empty.classList.add('d-none');
    db_error.classList.add('d-none');
    db_error.classList.remove('d-flex');
    text_load.classList.remove('d-none');
    pizzas_ul.innerHTML = '';
    pizzas_ul.classList.add('d-none');
    getPizze(id);
}



//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - A X I O S
function getPizze(id) {

    axios.get('/api/pizzas', {
        params: {
            categoryId: id
        }
    })
    .then(res => {
        pizzas = res.data;
        pizzas.forEach(addPizza);
        pizzeShow();        
    })

    .catch(err => {
        console.log(err);
        text_load.classList.add('d-none');
        db_error.classList.remove('d-none');
        db_error.classList.add('d-flex');
    })
}


function pizzeShow() {

    let time = 0;

    if (t > 0) {
        time = 5;
    } else {
        time = 600;
    }


    setTimeout(() => {

        if (pizzas.length > 0) {

            text_load.classList.add('d-none');
            pizzas_ul.classList.remove('d-none');

        } else {

            text_load.classList.add('d-none');
            pizza_empty.classList.remove('d-none');
        }

        t++;
    }, time);    
}


//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - B T N - C A T E G O R Y
function addListenerBtn() {

    for (i = 0; i < btn_categories.length; i++) {

        const btn = btn_categories[i];
        const id = btn_categories[i].id;

        btn.addEventListener('click', searchCategory);
    }
}


//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - S E A R C H - X - C A T E G O R Y
function searchCategory() {

    for (i = 0; i < btn_categories.length; i++) {

        const btn = btn_categories[i];

        if (btn.classList.contains('active')) {

            btn.classList.remove('active');
            break;
        }
    }

    this.classList.add('active');
    start(this.id);
}


//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - A D D - P I Z Z A
function addPizza(el) {

    //creazione item
    const newItem = document.createElement('li');
    newItem.classList.add('pizza-wrapper', 'd-flex', 'flex-column', 'justify-content-center', 'align-content-center', 'text-center', 'p-4', 'position-relative', 'mb-3')
    newItem.dataset.pizza = el.categoryId;
    pizzas_ul.append(newItem);
    
    //ancoraggio controller
    const anchorItem = document.createElement('a');
    var myUrl = '@Url.Action("Details","Pizza")/' + el.id;
    anchorItem.href = myUrl;
    newItem.append(anchorItem);
    
    //div img e prezzo
    const img_wrapper = document.createElement('div');
    img_wrapper.classList.add('img-wrapper', 'mb-3', 'm-auto');
    anchorItem.append(img_wrapper);
    
    //img
    const imgPizza = document.createElement('img');
    imgPizza.alt = 'foto-pizza';
    if (el.photo == null) {
        imgPizza.src = '/img/back-no-pizza.png';
    } else {
        imgPizza.src = el.photo;
    }
    img_wrapper.append(imgPizza);
    
    //div prezzo
    const price_wrap = document.createElement('div');
    price_wrap.classList.add('price-wrap', 'd-flex', 'justify-content-end');
    img_wrapper.append(price_wrap);
    
    //prezzo
    const price = document.createElement('p');
    price.classList.add('price-pizza', 'm-0');
    price.innerHTML = `${el.price} €`;
    price_wrap.append(price);
    
    //nome pizza
    const name = document.createElement('h3');
    name.classList.add('text-name');
    name.innerHTML = el.name;
    anchorItem.append(name);  
}

</script>
}